{#<a href="http://localhost/projects/trilife/web/app_dev.php/connect/facebook">loginnnnnnnnnnn</a>#}
<a href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}">Facebook Connect Button (Dialog)</a>
